.chatsPanelItemContainer {
	--onlineColor: #00b300;
	--disconnectedColor: #ff0000;

	display: grid;
	place-content: inherit;

	height: fit-content;
	width: 100%;

	color: white;

	border-top: 1px solid var(--secondaryColor);
	border-bottom: 1px solid var(--secondaryColor);

	padding: 10px;

	&:hover {
		background-color: var(--secondaryColor);
	}

	.metaInfo {
		display: grid;
		grid-template-columns: 4fr 2fr;

		.online {
			display: grid;
			grid-template-columns: 2fr 3fr;
			align-items: center;

			font-style: italic;
			color: var(--onlineColor);

			.onlineCircle {
				width: 10px;
				height: 10px;
				border-radius: 50%;
				background-color: var(--onlineColor);
			}
		}

		.disconnected {
			display: grid;
			grid-template-columns: 2fr 3fr;
			align-items: center;

			font-style: italic;
			color: var(--disconnectedColor);

			.disconnectedCircle {
				width: 10px;
				height: 10px;
				border-radius: 50%;
				background-color: var(--disconnectedColor);
			}
		}
	}

}

h1, h2, h3, h4, h5, h6 {
	margin: 0px;
}